doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel="StyleSheet", href="style.css")
    title= Listify
  body
    div Listify
    ol.sortable-list Top 5 Oasis Songs
      li.ui-state-default Definitely Maybe
      li.ui-state-default (What's the Story) Morning Glory?
      li.ui-state-default Be Here Now
      li.ui-state-default Standing on the Shoulder of Giants
      li.ui-state-default That other one

    script(src="http://code.jquery.com/jquery-3.1.1.min.js")
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="scripts/app.js")
